/* ===================
     기본 CSS 세팅 소스
   =================== */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


body, th, td, input, select, textarea, button, a{
	font-family: 'Arial', 'Noto Sans KR', sans-serif;
	color:#222;
}

.hide_c{
	display:none ! important;
}

button, input, select, option, textarea, a{
	outline:none;
}

*:focus{outline:none;}

::-webkit-scrollbar{width:5px; height:10px;}
::-webkit-scrollbar-track{background-color:#dedede;}
::-webkit-scrollbar-thumb{background:#555;}
::-webkit-scrollbar-thumb:hover{background:#555;}
::-webkit-scrollbar-thumb:active{background:#555;}
::-webkit-scrollbar-button {display:none;}

#wrap{
	min-width:auto;
}



.container {
	width: 100%;
	margin: 0 auto;
	padding:0 40px;
	/*max-width:1800px;*/
	box-sizing:border-box;
}

.clearfix:after {
	content: "";
	display:block;
	clear:both;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.inline {
	font-size: 0;
}

.inline>* {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
}

.relative {
    position: relative;
}

.text-one-line {
    white-space : nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
}

.text-one-line-m {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;    
}

.easing-one {
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.easing-two {
    -khtml-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.easing-three {
    -khtml-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}